body {
	background-color: var(--darknavy);

	display: flex;
	flex-direction: column;
}
.flex {
	display: flex;
	justify-content: center;
	gap: 12px;
}
.aaroncebg {
	background-color: var(--darknavy);
	border: 0;
}
.aaroncebg::backdrop {
	background-color: var(--darknavy);
}
.choice {
	background-color: var(--semiDarknavy);
	padding: 24px 12px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.white-background {
	background-color: var(--silver);
}
.black-background {
	background-color: var(--darknavy);
}
.button {
	background-color: var(--darknavy);
	width: 100%;
	display: flex;
	padding: 12px;
	border-radius: 12px;
}
.croix,
.rond {
	width: 50%;
	display: flex;
	justify-content: center;
	border-radius: 12px;
	border: none;
	padding: 8px;
}
.neuille {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 100%;
}
.blue-text {
	color: var(--darknavy);
}
.silver-text {
	color: var(--silver);
}
.game {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 1px;
	text-align: center;
	color: var(--darknavy);
	border: none;
	padding: 16px;
	border-radius: 12px;
}
.yellow {
	background-color: var(--lightyellow);
	box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}
.yellow:disabled {
	opacity: 25%;
}
.lightblue {
	background-color: var(--lightblue);
	box-shadow: 0px -8px 0px 0px #118c87 inset;
}
form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
header {
	width: 100%;
	padding: 24px;
}
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.tour {
	display: flex;
	align-items: center;
	background-color: var(--semiDarknavy);
	box-shadow: 0px -4px 0px 0px #10212a inset;
	border: 0;
	border-radius: 12px;
	padding: 8px;
	gap: 12px;

	font-weight: 700;
	font-size: 14px;
	color: var(--silver);
	line-height: 100%;
	letter-spacing: 0.88px;
}
.reset {
	background-color: #dbe8ed;
	box-shadow: 0px -4px 0px 0px #6b8997 inset;
	padding: 12px;
	border: none;
	border-radius: 12px;
}
.morpion {
	display: grid;
	grid-template-columns: 15vh 15vh 15vh;
	grid-template-rows: 15vh 15vh 15vh;
	gap: 24px;
}
.case {
	background-color: var(--semiDarknavy);
	box-shadow: 0px -8px 0px 0px #10212a inset;
	border: none;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restart {
	background-color: var(--semiDarknavy);
	border: none;
}
main {
	padding: 24px;
}
.nombre {
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 1px;
	text-align: center;
	color: var(--darknavy);
}
.blueinfo,
.grisinfo,
.yellowinfo {
	width: 30%;
	height: 12vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 12px;
}
.blueinfo {
	background-color: var(--lightblue);
}
.grisinfo {
	background-color: var(--silver);
}
.yellowinfo {
	background-color: var(--lightyellow);
}
.info {
	display: flex;
	justify-content: space-between;
}
.glob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}